body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header a {
  background: grey;
  padding: 0px 10px;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

#featured-property p {
  width: 800px;
  text-align: center;
}

#details {
  display: block;
  
}
